@keyframes slideInLeft {
 from{
   transform: translateX(-50vh);
 }
 to{
   transform: translateX(0);
 }
}
*{
 font-family:'Times New Roman', Times, serif;
}
body{
 background: url(assets/cyd.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
 width: 100%;
 overflow: hidden;
}
.nav-bar{
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
ul li{
  padding: 0px 10px;
}
ul li a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
ul li a:hover{
  color: rgb(208, 169, 42);
}
.title{
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}
.title:hover{
  color: rgb(208, 169, 42);
}

.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #000;
}
.form{
 width: 100px;
 margin: 0 auto 0 auto; 
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.contact{
 width: 100%;
 margin-top: 100px;
 animation: slideInLeft 2s ease ;
 display: flex;
 align-items: center;
 flex-direction: column;
}
.ex1{
 min-height: 100vh; 
}
.mail{
  outline: none;
 display: flex;
 color: black;
 font-size: 1rem;
 border-radius: 7px;
 padding: 9px;
 background: none;
 border: 3px solid rgb(208, 169, 42);
 width: 36vh;
 box-shadow: 0 0 10px rgb(208, 169, 42) ;
 margin-bottom: 0px;
 color: aliceblue;

}
.feedback{
 font-size: 1rem;
 border-radius: 7px;
 padding: 15px;
 opacity: 1px;
 border: 2px;
 width: 35vh;
 margin-bottom: 10px;
 resize: none;
 background: none;
 color: aliceblue;
 border:  3px solid rgb(208, 169, 42);
 box-shadow: 0 0 10px rgb(208, 169, 42) ;
 outline: none;
}
button{
 width: 20vh;
 font-weight: 600;
 border: none;
 border-radius:5px ;
 cursor: pointer;
 padding :7px;
 background: none ;
 color: aliceblue;
 border: 3px solid rgb(208, 169, 42);
 font-size: 18px;
}
.mail::placeholder , .feedback::placeholder{
 color: aliceblue;
}
button:hover{
 background:#FFFF;
 color: rgb(208, 169, 42);
 box-shadow: 0 0 10px rgb(208, 169, 42) ;
 border: 1px solid black;
}
/* mobile view */
@media only screen and (max-width: 768px) {
  body{
  background: url(assets/mobile.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
 width: 95%;
 overflow: hidden;
  }
  .nav-bar{
    display: none;
  }
  .mail , .feedback{
    background: #FFFF;
    box-shadow: none;
    font-weight: 500;
    color: #000;
  }
  .mail::placeholder , .feedback::placeholder{
    color: black;
    font-weight: 900;
  }
  .form{
    height: 100vh;
  }
}